nol/.nodered/flows_set0jl.json
[{"id":"7abd9fc5.e6205","type":"tab","label":"Flow 1"},{"id":"4063217d.c3826","type":"websocket-client","z":"","path":"ws://localhost:8080/","wholemsg":"false"},{"id":"ca16ebb1.99c228","type":"websocket out","z":"7abd9fc5.e6205","name":"","server":"","client":"4063217d.c3826","x":630,"y":180,"wires":[]},{"id":"7b4d8ead.8381c","type":"ibmiot in","z":"7abd9fc5.e6205","authentication":"quickstart","apiKey":"","inputType":"evt","deviceId":"b0b448bf1c80","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"quickstart","allDevices":"","allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":150,"y":320,"wires":[["ca16ebb1.99c228","5dd0568a.f520a8"]]},{"id":"ee6d882c.867ef8","type":"debug","z":"7abd9fc5.e6205","name":"","active":true,"console":"false","complete":"payload","x":690,"y":340,"wires":[]},{"id":"5dd0568a.f520a8","type":"function","z":"7abd9fc5.e6205","name":"","func":"var obj = {};\n\nconsole.log(msg.payload.d.x);\nreturn obj;\n\n","outputs":1,"noerr":0,"x":370,"y":360,"wires":[["ee6d882c.867ef8"]]},{"id":"707e078b.c42eb8","type":"inject","z":"7abd9fc5.e6205","name":"","topic":"","payload":"{\"d\":{\"accelX\":\"0.7\",\"accelY\":\"1.11\", \"accelZ\":\"-2.1\"}}","payloadType":"json","repeat":"","crontab":"","once":false,"x":170,"y":200,"wires":[["ca16ebb1.99c228","ee6d882c.867ef8"]]}]